#main-navigation {
    background-color: #390281;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}


/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Register Page Container */
#register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

/* Register Form */
#register-form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 70%;
}

#register-form label {
    display: flex;
    justify-content: start;
}

/* Form Elements */
#register-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.invalid p {
    color: #d6000b;
    display: flex;
    justify-content: flex-start;
    margin: 0 0 1rem 0;
    padding: 0;
}

.invalid input,
.invalid textarea {
    border-color: #d6000b;
    background-color: #ffe6e7;
}


/* Register Button */
#register-form button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

#register-form button:hover {
    background: #218838;
}
