{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock  %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/login.css" %}">
{% endblock  %}

{% block content %}

    <section id='login-page'>
        
        <form method='POST' id='login-form'>
            {% csrf_token %}
            {% for field in form %}
                <div class="login-form-content {% if field.errors %}invalid{% endif %}">
                    {{ field.label_tag }}
                    {{ field }}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}

            <button type="submit">Login</button>
        </form>

    </section>


{% endblock  %}



