{% extends "base.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/register.css" %}">
{% endblock %}

{% block content %}
  <section id="register-page">
      <div id="register-form">
          <h2>Register</h2>
          <form action="/register" method="POST">
              {% csrf_token %}
              
              {% for field in form %}
              
                <div class="form-content {% if field.errors %}invalid{% endif %}">
                  {{ field.label_tag }}
                  {{ field }}
                  {% for error in field.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>  
                
              {% endfor %}

              <button type="submit">Register</button>
          </form>
      </div>
  </section>
{% endblock %}
